.img-thumbnail {
				-moz-transition: all 2s ease-in-out;
				-webkit-transition: all 2s ease-in-out;
				-o-transition: all 2s ease-in-out;
				-ms-transition: all 2s ease-in-out;
				transition: all 2s ease-in-out;
			}
			
			.img-thumbnail:hover {
				-moz-transition: rotateY(180deg);
				-webkit-transition: rotateY(180deg);
				-o-transition: rotateY(180deg);
				-ms-transition: rotate(180deg);
				transition: rotate(180deg);
			}